#Interviews_Container {
    margin: 0 10%;
}

#Interviews_li {
    padding: 0;
}

ul {
    padding: 0;
}


.interview_home_container {
    margin: 0 11%;
}

.rider_image {
    height: 200px;
    width: 300px;
}

.pro_rider_interview {
    display: flex; 
    flex-direction: row;
    padding-bottom: 1%;
    border-bottom: 0.5px solid lightgray;
    margin: 3% 0;
}

.rider_info {
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}

.rider_name_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rider_name {
    margin: 0;
}

.upload_date {
    margin: 0;
}

.sponsors {
    margin: 0;
}

.sponsor_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.interview {
    height: 90px;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 5px;
}

.ig_link {
    height: 45px;
}

.interviews_list_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 300;
}

.read_interview {
    padding-bottom: 15px;
    color: blue;
    text-decoration: underline;
}

@media (max-width: 950px) {
    .rider_name_location {
        flex-direction: column !important;
        align-items: unset !important;
        margin-bottom: 5px;
    }

    .sponsor_location {
        flex-direction: column !important;
        align-items: unset !important;
        height: 25% !important;
        display: contents;
    }

    .rider_image {
        height: auto !important;
    }

    .location {
        margin: 3px 0;
    }
}

@media screen and (max-width: 550px) {
    .read_interview {
        padding-bottom: 4px !important;
    }

    .pro_rider_interview {
        flex-direction: column !important;
    }

    .rider_image {
        height: 100% !important;
        width: 100% !important;
    }

    .rider_name_location {
        flex-direction: column !important;
        align-items: unset !important;
    }

    .rider_name {
        padding-bottom: 10px;
    }

    .upload_date {
        padding-bottom: 5px;
    }

    .sponsor_location {
        font-size: 15px;
        flex-direction: column !important;
        height: 65px !important;
        align-items: unset !important;
    }

    .location {
        margin-top: 5px;
    }

    .rider_info {
        margin: 0 !important;
    }

}