.interview_home_container {
    margin: 0 15%;
}

.rider_image {
    height: 200px;
    border: 0.5px solid lightgray;
    border-radius: 34px;
    margin-top: 20px;
}

.pro_rider_interview {
    display: flex; 
    flex-direction: row;
    padding-bottom: 5%;
    margin: 5% 0;
    border-bottom: 0.5px solid lightgray;
}

.rider_info {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.rider_name_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* 
.rider_name {
    margin-right: 10%;
} */

.sponsors {
    margin: 0;
}

.interview {
    height: 91px;
    overflow: hidden;
}