.post_header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.post_list {
    margin: 0 13.5%;
    padding-left: 0;
}

.full_post {
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

.post_image {
    width: 30%;
    /* padding-right: 3%; */
    border-radius: 0.3rem;
}

.post_content {
    display: flex;
    flex-direction: row;
}

.post_article {
    margin-top: 0;
    font-size: 15px;
    padding-left: 3%;
}

.read_more_tag {
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}