.post_header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.post_list {
    margin: 0 13.5%;
    padding-left: 0;
}

.full_post {
    padding-bottom: 15px;
    /* border-bottom: 1px solid lightgrey; */
    margin-bottom: 20px;
}

.post_image {
    width: 30%;
    padding-right: 3%;
    /* border-radius: 0.3rem; */
}

.post_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post_article {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    padding-left: 3%;
    max-height: 130px;
    overflow: hidden;
}

.read_more_tag {
    color: blue;
    text-decoration: underline;
    /* font-size: 20px; */
}

.post_title {
    margin-top: 0;
}

.title_content {
    width: 45%;
}

.about_post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* padding: 12px; */
}

.post_border {
    height: 0.2px;
    background-color: lightgray;
    margin: 0 10%;
}

.single_post_page {
    margin: 0 10%;
    padding-bottom: 50px;
}

.single_post_img {
    width: 100%;
}

.single_post_name {
    font-weight: 400;
    margin-top: 5px;
}

.single_post_title {
    margin-bottom: 0;
    margin-top: 5px;
}

.single_post_name_upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.single_post_content {
    margin-top: 0;
}

.cta_single_post {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#like_btn {
    background: white;
    border: none;   
    cursor: pointer;
}

#like_btn:focus {
    outline: 0;
}

.like_btn_count {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artc_likes {
    margin: 0;
}

@media (max-width: 950px) {
    .post_image {
        width: 50%;
        height: 180px;
    }

    .post_border {
        margin: 0;
    }
    
    .about_post {
        justify-content: space-between;
    }

    .title_content {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .post_content {
        flex-direction: column;
    }

    .post_image {
        width: 100%;
    }

    .title_content {
        width: 100%;
    }

    .post_title {
        margin: 5px auto;
    }

    .post_article {
        padding-left: 0;
    }

    .about_post {
        flex-direction: column;
        align-items: unset;
        padding: 0;
        margin-bottom: 10px;

    }

    .post_date_name {
        margin: 5px 0;
    }

    .single_post_name_upload  {
        height: 20px;
        padding-top: 15px;
    }

}