.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 56px;
  padding-bottom: 13px;
  box-shadow: 0 2px 7px lightgrey;
  background: white;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  margin-left: 1rem;
}

.navbar_logo a img {
    height: 45px;
    margin: 13px 0px 0px 20px;
}

.navbar_navigation-items {
  display: flex;
  flex-direction: row;
  position: absolute;
  float: right;
  right: 40px;
}

.navbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  right: 45px;
}

.navbar_navigation-items li {
  padding: 0 0.5rem; 
}

.navbar_navigation-items a {
  color: darkgray;
  text-decoration: none;
}

.navbar_navigation-items a:hover,
.navbar_navigation-items a:active {
  color: lightgray;
}

.spacer {
  flex: 1;
}

#search-bar_mobile {
  display: none;
}


@media (max-width: 550px) {
  .navbar {
    padding-bottom: 0;
  }

  .navbar_navigation-items {
    display: none;
  }

  .navbar_logo a img {
    height: 30px;
    margin: 0
  }

  #search-bar_mobile {
    display: flex;
    position: absolute;
    right: 15px;
    width: 150px;
    top: 11px;
  }

  #search-bar_mobile input {
    height: 25px;
    font-size: 20px;
    width: 140px;
  }
}

@media (min-width: 550px) {
  .navbar_toggle-button {
    display: none;
  }

  .navbar_logo {
    margin-left: 0;
  }
}