.navbar {
  position: fixed;
  width: 100%;
  background: red;
  top: 0;
  left: 0;
  height: 56px;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  margin-left: 1rem;
}

.navbar_logo a {
  color: lightgray;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_navigation-items li {
  padding: 0 0.5rem; 
}

.navbar_navigation-items a {
  color: lightgray;
  text-decoration: none;
}

.navbar_navigation-items a:hover,
.navbar_navigation-items a:active {
  color: darkgray;
}

.spacer {
  flex: 1;
}

@media (max-width: 550px) {
  .navbar_navigation-items {
    display: none;
  }
}

@media (min-width: 550px) {
  .navbar_toggle-button {
    display: none;
  }

  .navbar_logo {
    margin-left: 0;
  }
}