nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    /* background-color: aquamarine; */
    border-bottom: 0.5px solid lightgrey;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#nav_logo {
  width: 14%;
  padding: 15px 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightgrey;
}