.homepage_title {
    margin: 0 10%;
}

.latest_news_title {
    margin: 20px 10%;
    border-bottom: 0.5px solid lightgrey;
    padding-bottom: 10px;
}
 .latest_interviews_title {
    margin-bottom: 10px;
} 

.interview_div_title {
    display: flex;
    flex-direction: row;
    margin: 20px 10%;
    border-bottom: 0.5px solid lightgrey;
    align-items: center;
    justify-content: space-between;
}
