#search-icon {
    height: 15px;
    cursor: pointer;
}

.search-results {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid lightgrey;
    width: 10.5%;
}

.search-results-list-item {
    padding: 5px !important;
}