/* #search-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
} */

.search-results {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid lightgrey;
    border-top: none;
    width: 153px;
    box-shadow: 0px 2px 5px lightgrey;
}

.search-results-list-item {
    padding: 5px !important;
}

#search-results-full-list {
    display: flex;
}

.hideSearch {
    display: none;
}