.Sub_Articles {
    display: flex;
    flex-direction: row;
    max-width: 1360px;
    margin: 0 10%;
}

.single_Sub_Article {
    display: flex;
    flex-direction: column;
    width: 31%;
    padding: 1% 1.5%;
}

.Sub_Article_Img {
    height: 200px;
}

.Sub_Article_Content {
    height: 16.5%;
    overflow: hidden;
    margin-top: 0;
}

.Sub_Article_Auth_Date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.read_more_tag {
    color: blue;
    text-decoration: underline;
    /* font-size: 20px; */
}