.headline_container {
    max-width: 1360px;
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    padding-bottom: 15px;
    /* margin-bottom: 1%; */
    border-bottom: 0.5px solid lightgrey
}

.headline_img {
    height: 311px;
    width: 656px;
    padding-right: 22px;
}

.headline_title {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 0;
}

.headline_article {
    max-height: 217px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 4px;
}

.headline_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 30px;
}

.read_more_tag {
    color: blue;
    text-decoration: underline;
    /* font-size: 20px; */
}