.app {
  text-align: center;
}

ul {
    list-style: none;
}

.below_navbar {
  margin-top: 8%;
  margin-top: 6.5%;
}

@media (max-width: 950px) {
  .below_navbar {
    margin-top: 10.5%;
  }
}

@media screen and (max-width: 550px) {
  .below_navbar {
    margin-top: 24%;
  }
}
